<div class="container" style="color:white;">
    <!-- <h2>Gracias <%- nombre %> su comentario se recibió y en breve un ejecutivo lo contactará al correo <%- correo %></h2>-->
<h1>HOla jiji</h1>
</div>